<!DOCTYPE html>
<html>
  <head>
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="/assets/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/assets/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/assets/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/assets/owl.carousel.min.css">
      <link rel="stylesoeet" href="/assets/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    <title>Beskeletta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= yield %>
  </body>


</html>
